/* applying condition so that Side Drawer can be shown only in mobile devices */

.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 240px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

/* if the minimum width of the screen is 500px then we will not display the SideDrawer */
@media (min-width: 500px){
    .SideDrawer{
        display: none;

    }
}

/* Adding animation */
.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}
